<div class="page">
    <mat-card>
        <mat-card-content>
                <h2>Post</h2>
                <mat-label>{{userFunc(post?.userId)?.name}}</mat-label>
                <mat-label>Content:</mat-label>
                <mat-label>{{post?.content}}:</mat-label>
                <img src="{{data:image/jpg;base64,' + post?.image}}" height="50" width="50"/>
                <a href="{{post?.link}}">{{post?.link}}</a>
                <br>
                <button (click)="Like()">Like</button>
                <button (click)="Dislike()">Dislike</button>
                <form [formGroup] = "form" (ngSubmit)="onSubmit()" >
                    <h2>Post comment</h2>
                    <mat-form-field appearance = "fill">
                        <mat-label>Content:</mat-label>
                        <textarea matImput formControlName="content"> </textarea>
                    </mat-form-field>
                    <br>
                    ovde fali
                    <button mat-raised-button>Comment</button>
                </form>
        </mat-card-content>
    </mat-card>

    <div>
        <h2>Comments:</h2>
        <mat-table mat-table [dataSource]="dataComments">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let comment">{{userFunc(comment.userId)?.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Content">
                <th mat-header-cell *matHeaderCellDef> Content </th>
                <td mat-cell *matCellDef="let comment"> {{comment.content}}</td>
            </ng-container>
                <th mat-header-row *matHeaderRowDef="displayedColumnsComments"></th>
                <td mat-row *matRowDef="let row; colums: displayedColumnsComments;"></td>
        </mat-table>
    </div>
    <div>
        <h2>Reaction:</h2>
        <mat-table mat-table [dataSource]="dataReactions">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let reaction">{{reaction.reactions}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsReactions"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsReactions;"></tr>
        </mat-table>
    </div>

</div>