<div class="navbar">  
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('login')">Login </span>
            <span (click)="navigate('registration')">Registration</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content> 
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search profiles..." formControlName="search">
                <button mat-raised-button color="primary">Search</button>
            </form>
            <div class="user" *ngFor="let user of users" >
                <p class="title">{{user.firstName}} {{user.lastName}} <li><a routerLink="/view-profile" [queryParams]="{id: user.id}" routerLinkActive="active">View profile</a></li>

                </p> 
            </div>
            <div class="post" *ngFor="let post of posts">
                <h1 class="title">{{post.content}}</h1>
                <h1 class="title">{{post.image}}</h1>   
            </div>
            
        </mat-card-content>
    </mat-card>
</div>