<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div>
            <span (click)="navigate('home')">Home         </span> 
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('education')">Education and experience</span>
            <span (click)="navigate('interest')">Interest and skills</span>
            <span (click)="navigate('requests')">Follow requests</span>
            <span (click)="navigate('job')">Job</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content>
            <div class="post" *ngFor="let post of posts">
                <h2 class="title">{{post.content}}</h2>
                <h2 class="title">{{post.image}}</h2> 
                <li><a routerLink="/post-page" [queryParams]="{id: post.id}" routerLinkActive="active">View post</a></li>                         
            </div>
            
        </mat-card-content>
    </mat-card>
</div>