<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('login')">Login </span>
            <span (click)="navigate('registration')">Registration</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content>
            <form>
                <h2 class="title">{{user.firstName}} {{user.lastName}}
                </h2> 
            </form> 
            
            <div class="post" *ngFor="let post of posts">
                <h3>Post:</h3>
                <p class="title">{{post.content}}</p>
                <p class="title">{{post.link}}</p>
                <img src="{{'data:image/jpg;base64,' + post?.image}}" height="50" width="50"/>
                <li><a routerLink="/post-page" [queryParams]="{id: post.id}" routerLinkActive="active">View post</a></li>  
            </div>
            
        </mat-card-content>
    </mat-card>
</div>