<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div>
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('education')">Education and experience</span>
            <span (click)="navigate('interest')">Interest and skills</span>
            <span (click)="navigate('requests')">Follow requests</span>
            <span (click)="navigate('job')">Job</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2>Createjob offer</h2>
                <mat-form-field>
                    <input matInput placeholder="Job description" formControlName="jobDescription" required>
                </mat-form-field> 
                <mat-form-field>
                    <input matInput placeholder="Job position" formControlName="jobPosition" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Job conditions" formControlName="jobConditions" required>
                </mat-form-field>
                <button mat-raised-button color="primary">Create</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>