<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div>
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('education')">Education and experience</span>
            <span (click)="navigate('interest')">Interest and skills</span>
            <span (click)="navigate('requests')">Follow requests</span>
            <span (click)="navigate('job')">Job</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content> 
            <div class="userFollow" *ngFor="let userFollow of userFollows" >
                <p class="title">{{getUser(userFollow.userWhoFollow.id)?.firstName}} {{getUser(userFollow.userWhoFollow.id)?.lastName}}
                    <div *ngIf="getUser(userFollow.userId)?.isPublic==0">
                        <button mat-raised-button color="primary" (click)="approve(userFollow.id)" >Approve</button>
                        <button mat-raised-button color="primary" (click)="reject(userFollow.id)" >Reject</button>
                    </div>       
            </div>
        </mat-card-content>
    </mat-card>
</div>