<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('education')">Education and experience</span>
            <span (click)="navigate('interest')">Interest and skills</span>
            <span (click)="navigate('requests')">Follow requests</span>
            <span (click)="navigate('job')">Job</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content>
            <button mat-raised-button color="primary" (click)="create()" >New job</button>
            <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
                <input type="text" placeholder="Search jobs..." formControlName="search">
                <button mat-raised-button color="primary">Search</button>
                <div class="job" *ngFor="let job of jobs">
                    <h3>Job:</h3>
                    <p class="title">Description : {{job.jobDescription}}</p>
                    <p class="title">Position : {{job.jobPosition}}</p>   
                    <p class="title">Conditions : {{job.jobConditions}}</p>   
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>