<div class="navbar">
    <mat-toolbar color="primary" class="navbar">
        <div> 
            <span (click)="navigate('home')">Home </span>
            <span (click)="navigate('edit')">Edit profile </span>
            <span (click)="navigate('education')">Education and experience</span>
            <span (click)="navigate('interest')">Interest and skills</span>
            <span (click)="navigate('requests')">Follow requests</span>
            <span (click)="navigate('job')">Job</span>
       </div>
    </mat-toolbar> 
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search profiles..." formControlName="search">
                <button class="button" mat-raised-button color="primary">Search</button>
                <li><a routerLink="/publish-post" routerLinkActive="active">Publish post</a></li>
            </form>
            <h2>Public profiles:</h2>
            <div class="user" *ngFor="let user of users">
                <p class="title">{{user.firstName}} {{user.lastName}}
                    <li><a routerLink="/view-profile" [queryParams]="{id: user.id}" routerLinkActive="active">View profile</a></li>

                    <button mat-raised-button color="primary" (click)="follow(user)" >Follow</button>
                </p> 
            </div>

            <h2>Followers:</h2>
            <div class="follower" *ngFor="let follower of followers">
                <p class="title">{{getUser(follower.userWhoFollow.id)?.firstName}} {{getUser(follower.userWhoFollow.id)?.lastName}}
                    <li><a routerLink="/view-profile" [queryParams]="{id: user.id}" routerLinkActive="active">View profile</a></li>
                </p> 
            </div>
        </mat-card-content>
    </mat-card>
</div>