<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search profiles..." formControlName="search">
                <button mat-raised-button color="primary">Search</button>
                <li><a routerLink="/edit-profile" routerLinkActive="active">Edit profile</a></li>
                <li><a routerLink="/set-education-and-experience" routerLinkActive="active">Set education and experience</a></li>
                <li><a routerLink="/set-interest-and-skills" routerLinkActive="active">Set interest and skills</a></li>
                <li><a routerLink="/publish-post" routerLinkActive="active">Publish post</a></li>
                <li><a routerLink="/see-follow-requests" routerLinkActive="active">Follow requests</a></li>       
                <li><a routerLink="/create-job-offers" routerLinkActive="active">Cretae job offers</a></li> 
                <li><a routerLink="/view-jobs" routerLinkActive="active">View jobs</a></li>                                                 
            </form>
            <h2>Public profiles:</h2>
            <div class="user" *ngFor="let user of users">
                <p class="title">{{user.firstName}} {{user.lastName}}
                    <li><a routerLink="/view-profile" [queryParams]="{id: user.id}" routerLinkActive="active">View profile</a></li>

                    <button mat-raised-button color="primary" (click)="follow(user)" >Follow</button>
                </p> 
            </div>

            <h2>Followers:</h2>
            <div class="follower" *ngFor="let follower of followers">
                <p class="title">{{getUser(follower.userWhoFollow.id)?.firstName}} {{getUser(follower.userWhoFollow.id)?.lastName}}
                    <li><a routerLink="/view-profile" [queryParams]="{id: user.id}" routerLinkActive="active">View profile</a></li>
                </p> 
            </div>
        </mat-card-content>
    </mat-card>
</div>